* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-x: hidden;
  font-family: sans-serif;
  background: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  margin: 0;
}



:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-accent-400: hsl(142 90% 61%);
}


