/* apps/adrian-badilla/src/styles.scss */

/* Variables and tokens global */
@use 'variables' as *;

/* Reset and base */
@use 'base' as *;

/* utilities (helpers, spacing, etc.) */
@use 'utilities' as *;
